* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0
    }
header{                /*header Geral */
    display: flex;
    flex-direction: column;
}
 /*-------------------------DIV LINKS TOPO------------------------- */
.top-header{
    height: 8vh;
    min-height: 50px;
    background-color: rgb(0, 0, 0);  
}
.info{
    margin-left: 17%;  
    padding: 15px;
}
span{
    margin-left: 3vw;
    font-size: 1rem;
    font-family: arial sans-serif;
    color: #ffffff;
}
  /*----------------------IMAGEM E CAMPO DE BUSCA---------------------------- */
#container{
    background-color: rgb(0, 0, 0);
    height: 11vh;
    min-height: 80px;
    width: 100%;
    display: flex ; 
}
#img-logo{
    margin-top: -30px;
    margin-left: 15px;
    width: 15vw;    
    height: 80px;
}
#box-busca{
    display: flex;
    margin-left: 4vw;
}

#box-search{
    height: 46px;  
    width: 30vw;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
}

#btn-busca{
    font-size: .1rem;
    width: 50px;
    height:46px ;
    border-radius: 0px 10px 10px 0px;
    background-color: #e66a18;
}
  /*----------------DIV LISTA DE PRESENTES---------------------------------- */

 .text{
    margin-top: -6px;
    color: #ffffff;
    margin-left: 1vw;
 }
  /*---------------- DIV LOGIN---------------------------------- */
  #login{
    margin-left: 8vw;
    display: flex;
    justify-content: center;
    height: 46px;
    width: 20vw;
}
#img-login{
    height: 5vh;
    min-height: 55px;
    margin-left: 1vw;
 }
 @media screen and (max-width:1050px) {
    #img-login{
        margin-left: -70px;
    }
} 
@media screen and (max-width:760px) {
    #img-login{
        margin-left: -30px;
    }
} 
@media screen and (max-width:760px) {
    #img-login{
        display: none;
    }
} 
 .text-a{
    margin-top: 2px;
    color: #ffffff;
    margin-left: 0.5vw;
 }
 @media screen and (max-width:760px) {
    .text-a{
        margin-left: -30px;
    }
} 
 .conta{
    margin-top: -15px;
    color: #e66a18;
    width: 100%;
 }
 @media screen and (max-width:760px) {
    .conta{
        width: 100px;
    }
} 
  /*--------------------------IMAGEM CARRINHO DE COMPRAS------------------------ */
#carrinho{
    margin-left: 4.5vw;
    height: 5vh;
    min-height: 45px;
    width: 42px;
}
@media screen and (max-width:760px) {
    #carrinho{
        margin-left: 0px;
    }
} 

  /*--------------------------SELECIONE PRODUTO E LINKS------------------------ */
  select{
      margin-left: 20px;
      font-weight: bold;
  }
.batata{
    display: flex;
    align-items: center;
}

.menu-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 6vh;
    min-height: 50px;
    cursor: pointer;
}
.navigation{  
    font-weight: bold;
    color: #000000;
}
.chamadas{
    padding: 7px;
    margin-left: 5px;
    color: #000000;
    font-size: 14px;
}
  /*------------------------IMAGENS COM HOVER COM TÍTULO-------------------------- */ 
.container-banner{ 
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 26, 26);
    height: 27vh;
    min-height: 120px;
}
.banner{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
    border-radius: 50%;
}
.banner :hover{        
    -webkit-transform: scale(1.2);
       transform: scale(1.2)	
 }
.descrition{ 
    margin-top: 6px;  
    height: 5vh;
    color: #ffffff;
    font-weight: bold;
}
.img-banner1{
    width: 10vw;
    height: 17vh;
    min-height: 70px;
    border-radius: 100%;

}
  /*------------------------BANNER FIXO GLOBOPLAY-------------------------estou aqui- */ 

#desconto-em-destaque{
    height: 40px;
    width: 100%;
}
  /*-------------------------------------------------------------estou aqui- */ 

body{
    background-color: #e66a18;
    margin: 0px 5px 0px 5px;
}

#banner-picpay{
    margin-top: 10px;
    border-radius: 20px;
    height: 130px;
    width: 80%;
    display: flex;
    margin-left: 10%;
}


#pic :hover{   
    margin-top: 15px;
    -webkit-transform: scale(1.2);
       transform: scale(1.2)       
}

footer{
    margin: 15px;
    display: flex;
    justify-content: center;
}






